<br>
<input id="name" type="text" name="name" class="form-control" placeholder="Nombre"></input>
<br>
<p>Sexo</p>
<select id="gender" name="gender" class="form-control" placeholder="Sexo">
  	<option value=""></option>
	<option value="M">M</option>
	<option value="F">F</option>
</select>