<h1>Búsqueda</h1>

<%= form_tag("/search") do %>
    <%= select_tag :selected, options_for_select(@tables)%>
    <%= submit_tag :Search %>
    <br>
    <%= render 'search/booksSearch' %>
<% end %>

<div>
<div id="searchDiv">
</div>
  <div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
</script>
