<h1>New User</h1>
<%= form_for(@user, url: users_path) do |f| %>
<%= render partial: 'form', locals: {f: f}%>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%= link_to 'Back', users_path %>